# **Mental Healt Dataset**

# Step 1: Load the Data
from "https://openpsychometrics.org/_rawdata/" and the test called "DASS_data_21.02.19.zip" (2017-2018)

In [176]:
#import pandas library
import pandas as pd
#data loading from the github
url = "https://raw.githubusercontent.com/vrelvape/individual-project-mental-health/refs/heads/main/data/data.csv"
raw_df= pd.read_csv(url, sep="\t", engine="python")#format the csv to read it correctly

Display the raw dataset from the set to have a first look

In [177]:
#display the dimension of the dataframe
print(raw_df.shape)
#display the first 5rows of the Dataframe
raw_df.head()

(39775, 172)

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

Display the list of all the columns in the dataframe

In [178]:
#raw_df.columns.tolist()

# Step 2: Clean the Raw Dataframe

## 1) Create all the informations for the DASS-42 questions

In [179]:
#create a list of DASS-42 columns
dass_items= [f"Q{i}A" for i in range(1,42)]
#print(dass_items) #remove the print to show the list

#mapping of codes, we want to reassign the questions(shortened) to their code
questions= {
    "Q1A": "Upset by trivial things",
    "Q2A": "Dryness of mouth",
    "Q3A": "No positive feelings",
    "Q4A": "Breathing difficulty",
    "Q5A": "Lack of motivation",
    "Q6A": "Over-reacting",
    "Q7A": "Shakiness",
    "Q8A": "Difficulty relaxing",
    "Q9A": "Anxious in situations",
    "Q10A": "Nothing to look forward to",
    "Q11A": "Easily upset",
    "Q12A": "Using nervous energy",
    "Q13A": "Sad and depressed",
    "Q14A": "Impatient when delayed",
    "Q15A": "Faintness",
    "Q16A": "Lost interest in everything",
    "Q17A": "Low self-worth",
    "Q18A": "Touchy",
    "Q19A": "Unexplained sweating",
    "Q20A": "Scared without reason",
    "Q21A": "Life not worthwhile",
    "Q22A": "Hard to wind down",
    "Q23A": "Difficulty swallowing",
    "Q24A": "No enjoyment",
    "Q25A": "Heart awareness",
    "Q26A": "Down-hearted",
    "Q27A": "Very irritable",
    "Q28A": "Close to panic",
    "Q29A": "Hard to calm down",
    "Q30A": "Fear trivial tasks",
    "Q31A": "No enthusiasm",
    "Q32A": "Irritated by interruptions",
    "Q33A": "Nervous tension",
    "Q34A": "Worthless",
    "Q35A": "Intolerant of delays",
    "Q36A": "Terrified",
    "Q37A": "Hopeless future",
    "Q38A": "Life meaningless",
    "Q39A": "Agitated",
    "Q40A": "Fear panic situations",
    "Q41A": "Trembling",
    "Q42A": "No initiative"
}
#df_clean.rename(columns=question_labels, inplace=True)

These 42 items are divided into 3 subscales (Depression/Anxiety/Stress) (14 items each), as defined in the reference scientific literature:

>Lovibond, S. H., & Lovibond, P. F. (1995). Manual for the Depression Anxiety Stress Scales. Psychology Foundation of Australia

In [180]:
depression_columns = ['Q3A', 'Q5A', 'Q10A', 'Q13A', 'Q16A', 'Q17A', 'Q21A', 'Q24A', 'Q26A', 'Q31A', 'Q34A', 'Q37A', 'Q38A', 'Q42A']
anxiety_columns= ['Q2A', 'Q4A', 'Q7A', 'Q9A', 'Q15A', 'Q19A', 'Q20A', 'Q23A', 'Q25A', 'Q28A', 'Q30A', 'Q36A', 'Q40A', 'Q41A']
stress_columns= ['Q1A', 'Q6A', 'Q8A', 'Q11A', 'Q12A', 'Q14A', 'Q18A', 'Q22A', 'Q27A', 'Q29A', 'Q32A', 'Q33A', 'Q35A', 'Q39A']

Now we move on to the calculation of DASS scores per individual

In [181]:
#sum the responses for each subscale and create new column for each
raw_df['dassdepression']= raw_df[depression_cols].sum(axis=1)
raw_df['dassanxiety']= raw_df[anxiety_cols].sum(axis=1)
raw_df['dassstress']= raw_df[stress_cols].sum(axis=1)
#total score per individual and create new column
raw_df['dasssum']= raw_df[['dassdepression', 'dassanxiety', 'dassstress']].sum(axis=1)

#create a list with the 4 news columns
targets= ["dassanxiety", "dassstress", "dassdepression", "dasssum"]

## 2) Clean the interesting demographics columns

2.1 **Gender** column

In [182]:
#Create a dictionary mapping codes to labels
gender_map = {
    1: "Male",
    2: "Female",
    3: "Other",
    0: "No response"
}
#apply this mapping to the "gender" column to create a new column "gender_clean"
raw_df["gender_clean"] = raw_df["gender"].map(gender_map)

2.2 **Education** column

In [183]:
#Create a dictionary mapping codes to labels
education_map = {
    1: "Less than high school",
    2: "High school",
    3: "University degree",
    4: "Graduate degree",
    0: "No response"
}
#apply this mapping to the "education" column to create a new column "education_clean"
raw_df["education_clean"] = raw_df["education"].map(education_map)

 2.3 **Urban** column

In [184]:
#Create a dictionary mapping codes to labels
urban_map = {
    1: "Rural",
    2: "Suburban",
    3: "Urban",
    0: "No response"
}
#apply this mapping to the "urban" column to create a new column "urban_clean"
raw_df["urban_clean"] = raw_df["urban"].map(urban_map)

2.4 **Religion** column

In [185]:
#Create a dictionary mapping codes to labels
religion_map = {
    1: "Agnostic",
    2: "Atheist",
    3: "Buddhist",
    4: "Christian (Catholic)",
    5: "Christian (Mormon)",
    6: "Christian (Protestant)",
    7: "Christian (Other)",
    8: "Hindu",
    9: "Jewish",
    10: "Muslim",
    11: "Sikh",
    12: "Other",
    0: "No response"
}
#apply this mapping to the "religion" column to create a new column "religion_clean"
raw_df["religion_clean"] = raw_df["religion"].map(religion_map)

2.5 **Orientation** column

In [186]:
#Create a dictionary mapping codes to labels
orientation_map = {
    1: "Heterosexual",
    2: "Bisexual",
    3: "Homosexual",
    4: "Asexual",
    5: "Other",
    0: "No response"
}
#apply this mapping to the "orientation" column to create a new column "orientation_clean"
raw_df["orientation_clean"] = raw_df["orientation"].map(orientation_map)

2.6 **Race** column

In [187]:
#Create a dictionary mapping codes to labels
race_map = {
    10: "Asian",
    20: "Arab",
    30: "Black",
    40: "Indigenous Australian",
    50: "Native American",
    60: "White",
    70: "Other",
    0: "No response"
}
#apply this mapping to the "race" column to create a new column "race_clean"
raw_df["race_clean"] = raw_df["race"].map(race_map)

2.7 **Hand** column

In [188]:
#Create a dictionary mapping codes to labels
hand_map = {
    1: "Right",
    2: "Left",
    3: "Ambidextrous",
    0: "No response"
}
#apply this mapping to the "hand" column to create a new column "hand_clean"
raw_df["hand_clean"] = raw_df["hand"].map(hand_map)

2.8 **Voted** column

In [202]:
#Create a dictionary mapping codes to labels
voted_map = {
    1: "Yes",
    2: "No",
    0: "No response"
}
#apply this mapping to the "voted" column to create a new column "voted_clean"
raw_df["voted_clean"] = raw_df["voted"].map(voted_map)

2.8 **Married** column

In [190]:
#Create a dictionary mapping codes to labels
married_map = {
    1: "Never married",
    2: "Currently married",
    3: "Previously married",
    0: "No response"
}
#apply this mapping to the "married" column to create a new column "married_clean"
raw_df["married_clean"] = raw_df["married"].map(married_map)

2.9 **Native** English column

In [191]:
#Create a dictionary mapping codes to labels
engnat_map = {
    1: "Yes",
    2: "No",
    0: "No response"
}
#apply this mapping to the "engnat" column to create a new column "engnat_clean"
raw_df["engnat_clean"] = raw_df["engnat"].map(engnat_map)

2.10 **Screensize** column

In [192]:
#Create a dictionary mapping codes to labels
screen_map = {
    1: "Small screen",
    2: "Large screen",
    0: "No response"
}
#apply this mapping to the "screensize" column to create a new column "screensize_clean"
raw_df["screensize_clean"] = raw_df["screensize"].map(screen_map)

2.11 **Uniquenetwork** column

In [193]:
#Create a dictionary mapping codes to labels
netloc_map = {
    1: "Unique",
    2: "Shared",
    0: "No response"
}
#apply this mapping to the "uniquenetworklocation" column to create a new column "uniquenetworklocation_clean"
raw_df["uniquenetworklocation_clean"] = raw_df["uniquenetworklocation"].map(netloc_map)

2.12 **Source** column

In [194]:
#Create a dictionary mapping codes to labels
source_map = {
    1: "Front page of the site hosting the survey",
    2: "Google",
    3: "Other or Unknown",
    0: "No response"
}
#apply this mapping to the "source" column to create a new column "source_clean"
raw_df["source_clean"] = raw_df["source"].map(netloc_map)

2.13 **Age**

For the column age we need to use another way of cleaning as the values are given input by the users.

In [196]:
#use .describe() to see the distribution of the colum age
raw_df["age"].describe()

count    39775.000000
mean        23.612168
std         21.581722
min         13.000000
25%         18.000000
50%         21.000000
75%         25.000000
max       1998.000000
Name: age, dtype: float64

As we can see there are strange values, that we need to clean.

In [197]:
#need to import the library datetime
import datetime
#We need to have the currently year to calculate the age of the people who put their birthday year and not their age
current_year = datetime.datetime.now().year
#create a new column with only ages, if the value is a year it will transforme it as an age
raw_df["age_clean"] = raw_df["age"].apply(lambda x: current_year - x if 1900 <= x <= (current_year - 10) else x)
#we need to eliminate every age that would be aberrant we will chose to say that everything that is lower than 10 and bigger than 100 is aberrant
raw_df = raw_df[(raw_df["age_clean"] >= 10) & (raw_df["age_clean"] <= 100)]

2.14 **Country**

Country needs a special treatment too for the cleaning.

In [198]:
#install required library for country
!pip install pycountry
#import pycountry library
import pycountry

#now we need to convert the ISO Apha-2 country codes to their full names, the original dataset contains two-letter ISO codes that we need to cneed to convert to their full names
#this function looks up the full country name corresponding to the code
def iso_to_country_name(iso_code):
  try:
    return pycountry.countries.get(alpha_2=iso_code).name
  except:
    return None

#create a new column with the country names
raw_df["country_name"]= raw_df["country"].apply(iso_to_country_name)

Requirement already satisfied: pycountry in /usr/local/lib/python3.12/dist-packages (24.6.1)

2.15 **Continent**

Continent works pretty much the same way as the colum country.

In [199]:
#install required library for continent
!pip install pycountry-convert
#import pycountry library
import pycountry_convert as pc_convert

#this function retrieve the country ISO alpha 2 code and convert it to a continent code and it translate that code to the full continent name
def get_continent(country_name):
  try:
      country_code = pycountry.countries.get(name=country_name).alpha_2
      continent_code = pc_convert.country_alpha2_to_continent_code(country_code)
      continent_name = pc_convert.convert_continent_code_to_continent_name(continent_code)
      return continent_name
  except:
      return "Unknown"
#create a new column with the continent names
raw_df["continent"]= raw_df["country_name"].apply(get_continent)

Requirement already satisfied: pycountry-convert in /usr/local/lib/python3.12/dist-packages (0.7.2)
Requirement already satisfied: pprintpp>=0.3.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (0.4.0)
Requirement already satisfied: pycountry>=16.11.27.1 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (24.6.1)
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (8.4.2)
Requirement already satisfied: pytest-mock>=1.6.3 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (3.15.1)
Requirement already satisfied: pytest-cov>=2.5.1 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (7.0.0)
Requirement already satisfied: repoze.lru>=0.7 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (0.7)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (0.45.1)
Requirement already satisfied: iniconfig>=1 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.3.0)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (25.0)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.6.0)
Requirement already satisfied: pygments>=2.7.2 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.19.2)
Requirement already satisfied: coverage>=7.10.6 in /usr/local/lib/python3.12/dist-packages (from coverage[toml]>=7.10.6->pytest-cov>=2.5.1->pycountry-convert) (7.11.0)

2. Now we want to create a list of all the new demographics column that we clean/create or want to use

In [205]:
demographics=["gender_clean","education_clean","urban_clean","religion_clean","orientation_clean","race_clean","hand_clean","voted_clean","married_clean","engnat_clean","screensize_clean","uniquenetworklocation_clean","source_clean","age_clean","country_name","continent","familysize"]

## 3) Create all the informations for the DASS-42 questions

## 4) Create all the informations for the Vocabulary Check List(VCL)

In this test they put fake words as traps to check the attention/validity of the user