# **Mental Healt Dataset**

# Step 1: Load the Data
from "https://openpsychometrics.org/_rawdata/" and the test called "DASS_data_21.02.19.zip" (2017-2018)

In [509]:
#import pandas library
import pandas as pd
#data loading from the github
url = "https://raw.githubusercontent.com/vrelvape/individual-project-mental-health/refs/heads/main/data/data.csv"
raw_df= pd.read_csv(url, sep="\t", engine="python")#format the csv to read it correctly

Display the raw dataset from the set to have a first look

In [510]:
#display the dimension of the dataframe
print(raw_df.shape)
#display the first 5rows of the Dataframe
raw_df.head()

(39775, 172)

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

Display the list of all the columns in the dataframe

In [511]:
#raw_df.columns.tolist()

# Step 2: Clean the Raw Dataframe

## 1) Create all the informations for the DASS-42 questions

In [512]:
#create a list of DASS-42 columns
dass_items= [f"Q{i}A" for i in range(1,42)]
#print(dass_items) #remove the print to show the list

#mapping of codes, we want to reassign the questions(shortened) to their code
questions_labels= {
    "Q1A": "Upset by trivial things",
    "Q2A": "Dryness of mouth",
    "Q3A": "No positive feelings",
    "Q4A": "Breathing difficulty",
    "Q5A": "Lack of motivation",
    "Q6A": "Over-reacting",
    "Q7A": "Shakiness",
    "Q8A": "Difficulty relaxing",
    "Q9A": "Anxious in situations",
    "Q10A": "Nothing to look forward to",
    "Q11A": "Easily upset",
    "Q12A": "Using nervous energy",
    "Q13A": "Sad and depressed",
    "Q14A": "Impatient when delayed",
    "Q15A": "Faintness",
    "Q16A": "Lost interest in everything",
    "Q17A": "Low self-worth",
    "Q18A": "Touchy",
    "Q19A": "Unexplained sweating",
    "Q20A": "Scared without reason",
    "Q21A": "Life not worthwhile",
    "Q22A": "Hard to wind down",
    "Q23A": "Difficulty swallowing",
    "Q24A": "No enjoyment",
    "Q25A": "Heart awareness",
    "Q26A": "Down-hearted",
    "Q27A": "Very irritable",
    "Q28A": "Close to panic",
    "Q29A": "Hard to calm down",
    "Q30A": "Fear trivial tasks",
    "Q31A": "No enthusiasm",
    "Q32A": "Irritated by interruptions",
    "Q33A": "Nervous tension",
    "Q34A": "Worthless",
    "Q35A": "Intolerant of delays",
    "Q36A": "Terrified",
    "Q37A": "Hopeless future",
    "Q38A": "Life meaningless",
    "Q39A": "Agitated",
    "Q40A": "Fear panic situations",
    "Q41A": "Trembling",
    "Q42A": "No initiative"
}

These 42 items are divided into 3 subscales (Depression/Anxiety/Stress) (14 items each), as defined in the reference scientific literature:

>Lovibond, S. H., & Lovibond, P. F. (1995). Manual for the Depression Anxiety Stress Scales. Psychology Foundation of Australia

In [513]:
depression_columns = ['Q3A', 'Q5A', 'Q10A', 'Q13A', 'Q16A', 'Q17A', 'Q21A', 'Q24A', 'Q26A', 'Q31A', 'Q34A', 'Q37A', 'Q38A', 'Q42A']
anxiety_columns= ['Q2A', 'Q4A', 'Q7A', 'Q9A', 'Q15A', 'Q19A', 'Q20A', 'Q23A', 'Q25A', 'Q28A', 'Q30A', 'Q36A', 'Q40A', 'Q41A']
stress_columns= ['Q1A', 'Q6A', 'Q8A', 'Q11A', 'Q12A', 'Q14A', 'Q18A', 'Q22A', 'Q27A', 'Q29A', 'Q32A', 'Q33A', 'Q35A', 'Q39A']

Now we move on to the calculation of DASS scores per individual

In [514]:
#sum the responses for each subscale and create new column for each
raw_df['dassdepression']= raw_df[depression_columns].sum(axis=1)
raw_df['dassanxiety']= raw_df[anxiety_columns].sum(axis=1)
raw_df['dassstress']= raw_df[stress_columns].sum(axis=1)
#total score per individual and create new column
raw_df['dasssum']= raw_df[['dassdepression', 'dassanxiety', 'dassstress']].sum(axis=1)

#create a list with the 4 news columns
targets= ["dassanxiety", "dassstress", "dassdepression", "dasssum"]

## 2) Clean the interesting demographics columns

2.1 **Gender** column

In [515]:
#Create a dictionary mapping codes to labels
gender_map = {
    1: "Male",
    2: "Female",
    3: "Other",
    0: "No response"
}
#apply this mapping to the "gender" column to create a new column "gender_clean"
raw_df["gender_clean"] = raw_df["gender"].map(gender_map)

2.2 **Education** column

In [516]:
#Create a dictionary mapping codes to labels
education_map = {
    1: "Less than high school",
    2: "High school",
    3: "University degree",
    4: "Graduate degree",
    0: "No response"
}
#apply this mapping to the "education" column to create a new column "education_clean"
raw_df["education_clean"] = raw_df["education"].map(education_map)

 2.3 **Urban** column

In [517]:
#Create a dictionary mapping codes to labels
urban_map = {
    1: "Rural",
    2: "Suburban",
    3: "Urban",
    0: "No response"
}
#apply this mapping to the "urban" column to create a new column "urban_clean"
raw_df["urban_clean"] = raw_df["urban"].map(urban_map)

2.4 **Religion** column

In [518]:
#Create a dictionary mapping codes to labels
religion_map = {
    1: "Agnostic",
    2: "Atheist",
    3: "Buddhist",
    4: "Christian (Catholic)",
    5: "Christian (Mormon)",
    6: "Christian (Protestant)",
    7: "Christian (Other)",
    8: "Hindu",
    9: "Jewish",
    10: "Muslim",
    11: "Sikh",
    12: "Other",
    0: "No response"
}
#apply this mapping to the "religion" column to create a new column "religion_clean"
raw_df["religion_clean"] = raw_df["religion"].map(religion_map)

2.5 **Orientation** column

In [519]:
#Create a dictionary mapping codes to labels
orientation_map = {
    1: "Heterosexual",
    2: "Bisexual",
    3: "Homosexual",
    4: "Asexual",
    5: "Other",
    0: "No response"
}
#apply this mapping to the "orientation" column to create a new column "orientation_clean"
raw_df["orientation_clean"] = raw_df["orientation"].map(orientation_map)

2.6 **Race** column

In [520]:
#Create a dictionary mapping codes to labels
race_map = {
    10: "Asian",
    20: "Arab",
    30: "Black",
    40: "Indigenous Australian",
    50: "Native American",
    60: "White",
    70: "Other",
    0: "No response"
}
#apply this mapping to the "race" column to create a new column "race_clean"
raw_df["race_clean"] = raw_df["race"].map(race_map)

2.7 **Hand** column

In [521]:
#Create a dictionary mapping codes to labels
hand_map = {
    1: "Right",
    2: "Left",
    3: "Ambidextrous",
    0: "No response"
}
#apply this mapping to the "hand" column to create a new column "hand_clean"
raw_df["hand_clean"] = raw_df["hand"].map(hand_map)

2.8 **Voted** column

In [522]:
#Create a dictionary mapping codes to labels
voted_map = {
    1: "Yes",
    2: "No",
    0: "No response"
}
#apply this mapping to the "voted" column to create a new column "voted_clean"
raw_df["voted_clean"] = raw_df["voted"].map(voted_map)

2.8 **Married** column

In [523]:
#Create a dictionary mapping codes to labels
married_map = {
    1: "Never married",
    2: "Currently married",
    3: "Previously married",
    0: "No response"
}
#apply this mapping to the "married" column to create a new column "married_clean"
raw_df["married_clean"] = raw_df["married"].map(married_map)

2.9 **Native** English column

In [524]:
#Create a dictionary mapping codes to labels
engnat_map = {
    1: "Yes",
    2: "No",
    0: "No response"
}
#apply this mapping to the "engnat" column to create a new column "engnat_clean"
raw_df["engnat_clean"] = raw_df["engnat"].map(engnat_map)

2.10 **Screensize** column

In [525]:
#Create a dictionary mapping codes to labels
screen_map = {
    1: "Small screen",
    2: "Large screen",
    0: "No response"
}
#apply this mapping to the "screensize" column to create a new column "screensize_clean"
raw_df["screensize_clean"] = raw_df["screensize"].map(screen_map)

2.11 **Uniquenetwork** column

In [526]:
#Create a dictionary mapping codes to labels
netloc_map = {
    1: "Unique",
    2: "Shared",
    0: "No response"
}
#apply this mapping to the "uniquenetworklocation" column to create a new column "uniquenetworklocation_clean"
raw_df["uniquenetworklocation_clean"] = raw_df["uniquenetworklocation"].map(netloc_map)

2.12 **Source** column

In [527]:
#Create a dictionary mapping codes to labels
source_map = {
    1: "Front page of the site hosting the survey",
    2: "Google",
    3: "Other or Unknown",
    0: "No response"
}
#apply this mapping to the "source" column to create a new column "source_clean"
raw_df["source_clean"] = raw_df["source"].map(netloc_map)

2.13 **Age**

For the column age we need to use another way of cleaning as the values are given input by the users.

In [528]:
#use .describe() to see the distribution of the colum age
raw_df["age"].describe()

count    39775.000000
mean        23.612168
std         21.581722
min         13.000000
25%         18.000000
50%         21.000000
75%         25.000000
max       1998.000000
Name: age, dtype: float64

As we can see there are strange values, that we need to clean.

In [529]:
#need to import the library datetime
import datetime
#We need to have the currently year to calculate the age of the people who put their birthday year and not their age
current_year = datetime.datetime.now().year
#create a new column with only ages, if the value is a year it will transforme it as an age
raw_df["age_clean"] = raw_df["age"].apply(lambda x: current_year - x if 1900 <= x <= (current_year - 10) else x)
#we need to eliminate every age that would be aberrant we will chose to say that everything that is lower than 10 and bigger than 100 is aberrant
raw_df = raw_df[(raw_df["age_clean"] >= 10) & (raw_df["age_clean"] <= 100)]

2.14 **Country**

Country needs a special treatment too for the cleaning.

In [530]:
#install required library for country
!pip install pycountry
#import pycountry library
import pycountry

#now we need to convert the ISO Apha-2 country codes to their full names, the original dataset contains two-letter ISO codes that we need to cneed to convert to their full names
#this function looks up the full country name corresponding to the code
def iso_to_country_name(iso_code):
  try:
    return pycountry.countries.get(alpha_2=iso_code).name
  except:
    return None

#create a new column with the country names
raw_df["country_name"]= raw_df["country"].apply(iso_to_country_name)

Requirement already satisfied: pycountry in /usr/local/lib/python3.12/dist-packages (24.6.1)

2.15 **Continent**

Continent works pretty much the same way as the colum country.

In [531]:
#install required library for continent
!pip install pycountry-convert
#import pycountry library
import pycountry_convert as pc_convert

#this function retrieve the country ISO alpha 2 code and convert it to a continent code and it translate that code to the full continent name
def get_continent(country_name):
  try:
      country_code = pycountry.countries.get(name=country_name).alpha_2
      continent_code = pc_convert.country_alpha2_to_continent_code(country_code)
      continent_name = pc_convert.convert_continent_code_to_continent_name(continent_code)
      return continent_name
  except:
      return "Unknown"
#create a new column with the continent names
raw_df["continent"]= raw_df["country_name"].apply(get_continent)

Requirement already satisfied: pycountry-convert in /usr/local/lib/python3.12/dist-packages (0.7.2)
Requirement already satisfied: pprintpp>=0.3.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (0.4.0)
Requirement already satisfied: pycountry>=16.11.27.1 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (24.6.1)
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (8.4.2)
Requirement already satisfied: pytest-mock>=1.6.3 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (3.15.1)
Requirement already satisfied: pytest-cov>=2.5.1 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (7.0.0)
Requirement already satisfied: repoze.lru>=0.7 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (0.7)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (0.45.1)
Requirement already satisfied: iniconfig>=1 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.3.0)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (25.0)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.6.0)
Requirement already satisfied: pygments>=2.7.2 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.19.2)
Requirement already satisfied: coverage>=7.10.6 in /usr/local/lib/python3.12/dist-packages (from coverage[toml]>=7.10.6->pytest-cov>=2.5.1->pycountry-convert) (7.11.0)

2. Now we want to create a list of all the news demographics columns that we clean/create or want to use

In [532]:
demographics=["gender_clean","education_clean","urban_clean","religion_clean","orientation_clean","race_clean","hand_clean","voted_clean","married_clean","engnat_clean","screensize_clean","uniquenetworklocation_clean","source_clean","age_clean","country_name","continent","familysize"]

## 3) Create all the informations for the TIPI(Big Five Personality)

Ten Item Personality Inventory(TIPI) is a very brief psychological measure designed to assess the five major personality traits known by the acronym OCEAN:
* Openness to Experience
* Conscientiousness
* Extraversion
* Agreeableness
* Neuroticism

TIPI consists of 10 items, rated on a scale from 1(strongly disagree) to 7(strongly agree). Each trait is calculated by averaging 2 items:



* one directly measured item
* one item to be reverse-coded (recoding is done using the formula: 8-value)

In [533]:
#create a list with TIPI items
tipi_items = [f"TIPI{i}" for i in range(1, 11)]
#mapping of codes, we want to reassign the traits(shortened) to their code
traits_labels= {
    "TIPI1": "Extraverted",
    "TIPI2": "Critical",
    "TIPI3": "Dependable",
    "TIPI4": "Anxious",
    "TIPI5": "Open to new experiences",
    "TIPI6": "Reserved",
    "TIPI7": "Sympathic",
    "TIPI8": "Disorganized",
    "TIPI9": "Calm",
    "TIPI10": "Conventional"
}

We therefore calculate here the five personality dimensions following the instructions from the source artice:

>Gosling, Rentfrow, & Swann (2003) â€“ A Very Brief Measure of the Big-Five Personality Domains.

In [534]:

#the items 2,4,6,8,10 are reverse-scored, so we apply the formula
raw_df["TIPI_R2"]=8-raw_df["TIPI2"]
raw_df["TIPI_R4"]=8-raw_df["TIPI4"]
raw_df["TIPI_R6"]=8-raw_df["TIPI6"]
raw_df["TIPI_R8"]=8-raw_df["TIPI8"]
raw_df["TIPI_R10"]=8-raw_df["TIPI10"]
#we compute the five personality traits
raw_df["Extraversion"]=(raw_df["TIPI1"]+raw_df["TIPI_R6"])/2
raw_df["Agreeableness"]=(raw_df["TIPI7"]+raw_df["TIPI_R2"])/2
raw_df["Conscientiousness"]=(raw_df["TIPI3"]+raw_df["TIPI_R8"])/2
raw_df["Emotional Stability"]=(raw_df["TIPI_R4"]+raw_df["TIPI9"])/2
raw_df["Openness"]=(raw_df["TIPI5"]+raw_df["TIPI_R10"])/2

In [535]:
#display the distribution of one's traits OCEAN
raw_df["Extraversion"].describe()

count    39772.000000
mean         3.467226
std          1.555119
min          0.500000
25%          2.000000
50%          3.500000
75%          4.500000
max          7.500000
Name: Extraversion, dtype: float64

As we can see the values are not beteween 1 and 7.
Theoretically, the responses to TIPI items are on a scale from so the final scores should fall within this range. However, each personality trait is calculated as the average of two items. In some cases one of the two items may be missing(empty or NaN), wich causes pandas to return the value of the other item alone as the score.

In [536]:
#create a list with the traits
tipi_traits = ["Extraversion", "Agreeableness", "Conscientiousness", "Emotional Stability", "Openness"]
#delete the rows with the values biger than 7 and lower than 1
for score in tipi_traits:
    raw_df = raw_df[(raw_df[score] >= 1) & (raw_df[score] <= 7)]

## 4) Create all the informations for the Vocabulary Check List(VCL)

In this test they put fake words as traps to check the attention/validity of the user.

The fakes words are: VCL6, VCL9, VCL12

In [537]:
#create a list of VCL columns
vcl_items= [f"VCL{i}" for i in range(1,17)]
#mapping of codes, we want to reassign the traits(shortened) to their code
vcl_labels= {
    "VCL1": "boat",
    "VCL2": "incoherent",
    "VCL3": "pallid",
    "VCL4": "robot",
    "VCL5": "audible",
    "VCL6": "cuivocal",
    "VCL7": "paucity",
    "VCL8": "epistemology",
    "VCL9": "florted",
    "VCL10": "decide",
    "VCL11": "pastiche",
    "VCL12": "verdid",
    "VCL13": "abysmal",
    "VCL14": "lucid",
    "VCL15": "betray",
    "VCL16": "funny"
}

#list with the fake words
fake_words= ["VCL6", "VCL9", "VCL12"]
#create a colum with the total VCL score () (1=checked, 0=unchecked)
raw_df["vcl_score"]= raw_df[[item for item in vcl_items if item not in fake_words]].sum(axis=1)
#create a colum with the number of fake words checked by the user
raw_df["vcl_invalid"]= raw_df[fake_words].sum(axis=1)
#create a column named "valid", wich is boolean column,True= checked 0 fake words, False= otherwise
raw_df["vcl_valid"]= raw_df["vcl_invalid"] == 0
#createa list with the new vcl columns
vcl_new_columns=["vcl_valid","vcl_invalid","vcl_score"]

## 5) Check if there are any NaN values in the raw dataframe

In [538]:
#display the numbers of missing values for each column
missing_values=raw_df.isnull().sum()
#print it
print("Number of missing values per column:")
print(missing_values[missing_values > 0])

Number of missing values per column:
country             2
major           11347
country_name      539
dtype: int64

as we can see Major column as a lot of missing values 11'347 wich represent **29% of the dataframe**, if we decided to delete every row that countain a missing value for Major we would lose way to many data, so we need to delete the full column to conserve the maximum data

In [539]:
#delete columns with more that 20% of missing values
limit = 0.20
raw_df.dropna(axis=1, thresh=int((1 - limit) * len(raw_df)), inplace=True)

Now we can proceed to eliminate the Nan rows in the column country and country_name

In [540]:
#delete the rows with with missing values
raw_df.dropna(inplace=True)

## 6) Finaly create a clean Dataframe that will be used for the analysis part

In [547]:
#define wich column are important to keep
cols_to_keep =dass_items+tipi_items+vcl_items+ demographics+targets+tipi_traits+vcl_new_columns
#select the columns
clean_df = raw_df[cols_to_keep].copy()
#rename the columns only in the new clean dataframe
clean_df.rename(columns=questions_labels, inplace=True)
clean_df.rename(columns=traits_labels, inplace=True)
clean_df.rename(columns=vcl_labels, inplace=True)

In [548]:
clean_df

,Upset by trivial things,Dryness of mouth,No positive feelings,Breathing difficulty,Lack of motivation,Over-reacting,Shakiness,Difficulty relaxing,Anxious in situations,Nothing to look forward to,...,dassdepression,dasssum,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Openness,vcl_valid,vcl_invalid,vcl_score
0,4,4,2,4,4,4,4,4,2,1,...,41,143,1.0,5.0,5.0,1.0,7.0,True,0,8
1,4,1,2,3,4,4,3,4,3,2,...,38,110,5.0,5.0,2.5,1.0,4.0,True,0,8
2,3,1,4,1,4,3,1,3,2,4,...,53,110,2.0,4.0,2.5,4.5,5.5,True,0,7
3,2,3,2,1,3,3,4,2,3,3,...,30,91,2.5,6.5,7.0,5.0,6.5,True,0,7
4,2,2,3,4,4,2,4,4,4,3,...,46,143,2.5,4.0,2.5,2.5,5.0,True,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,1,3,2,3,2,1,3,1,4,...,50,105,2.5,5.5,4.0,3.0,4.0,True,0,9
39771,3,4,3,4,3,4,4,4,3,4,...,52,148,3.0,3.5,3.0,2.5,4.0,False,1,8
39772,2,1,2,1,1,1,1,1,2,1,...,18,52,5.5,4.0,7.0,4.0,5.0,True,0,6
39773,3,1,2,2,3,3,3,4,3,1,...,30,104,2.0,2.5,4.0,2.0,3.5,True,0,11
39774,2,1,2,1,4,2,1,1,1,1,...,41,95,5.5,5.5,3.0,2.0,6.0,True,0,6

Display the list of all the columns in the clean dataframe

In [551]:
#clean_df.columns.tolist()

Now we want to create a Dataframe that we can rely on it, so for that we will use only the rows with a vcl_valid of true

In [546]:
#create the new datasaet with only true values for vcl_valid
clean_valid_df = clean_df[clean_df["vcl_valid"] == True].copy()

In [549]:
clean_valid_df

,Upset by trivial things,Dryness of mouth,No positive feelings,Breathing difficulty,Lack of motivation,Over-reacting,Shakiness,Difficulty relaxing,Anxious in situations,Nothing to look forward to,...,dassdepression,dasssum,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Openness,vcl_valid,vcl_invalid,vcl_score
0,4,4,2,4,4,4,4,4,2,1,...,41,143,1.0,5.0,5.0,1.0,7.0,True,0,8
1,4,1,2,3,4,4,3,4,3,2,...,38,110,5.0,5.0,2.5,1.0,4.0,True,0,8
2,3,1,4,1,4,3,1,3,2,4,...,53,110,2.0,4.0,2.5,4.5,5.5,True,0,7
3,2,3,2,1,3,3,4,2,3,3,...,30,91,2.5,6.5,7.0,5.0,6.5,True,0,7
4,2,2,3,4,4,2,4,4,4,3,...,46,143,2.5,4.0,2.5,2.5,5.0,True,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39769,3,4,2,2,2,4,4,2,1,3,...,29,108,5.5,4.0,5.0,4.0,3.5,True,0,9
39770,2,1,3,2,3,2,1,3,1,4,...,50,105,2.5,5.5,4.0,3.0,4.0,True,0,9
39772,2,1,2,1,1,1,1,1,2,1,...,18,52,5.5,4.0,7.0,4.0,5.0,True,0,6
39773,3,1,2,2,3,3,3,4,3,1,...,30,104,2.0,2.5,4.0,2.0,3.5,True,0,11
39774,2,1,2,1,4,2,1,1,1,1,...,41,95,5.5,5.5,3.0,2.0,6.0,True,0,6

Now we want to create a Dataframe that is shorter because the other one is a bit to big to use it for analysis (96 columns)

In [554]:
#define wich column are important to keep
cols_to_keep_v2 =demographics+targets+tipi_traits+vcl_new_columns
#select the columns
anlaysis_df=clean_valid_df[cols_to_keep_v2].copy()

In [556]:
anlaysis_df

,gender_clean,education_clean,urban_clean,religion_clean,orientation_clean,race_clean,hand_clean,voted_clean,married_clean,engnat_clean,...,dassdepression,dasssum,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Openness,vcl_valid,vcl_invalid,vcl_score
0,Female,High school,Urban,Other,Heterosexual,Asian,Right,No,Never married,No,...,41,143,1.0,5.0,5.0,1.0,7.0,True,0,8
1,Female,High school,Urban,Christian (Other),No response,Other,Left,No,Never married,Yes,...,38,110,5.0,5.0,2.5,1.0,4.0,True,0,8
2,Female,High school,Urban,Christian (Catholic),Homosexual,White,Right,Yes,Never married,No,...,53,110,2.0,4.0,2.5,4.5,5.5,True,0,7
3,Female,Less than high school,Urban,Christian (Catholic),Other,Other,Left,No,Never married,Yes,...,30,91,2.5,6.5,7.0,5.0,6.5,True,0,7
4,Female,University degree,Suburban,Muslim,Heterosexual,Asian,Ambidextrous,No,Never married,No,...,46,143,2.5,4.0,2.5,2.5,5.0,True,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39769,Female,Less than high school,Suburban,Agnostic,Heterosexual,Other,Right,No,Never married,Yes,...,29,108,5.5,4.0,5.0,4.0,3.5,True,0,9
39770,Male,High school,Suburban,Atheist,Asexual,White,Right,No,Never married,Yes,...,50,105,2.5,5.5,4.0,3.0,4.0,True,0,9
39772,Female,University degree,Suburban,Christian (Other),Heterosexual,Black,Right,Yes,Currently married,Yes,...,18,52,5.5,4.0,7.0,4.0,5.0,True,0,6
39773,Female,University degree,Suburban,Christian (Protestant),Heterosexual,White,Right,Yes,Never married,Yes,...,30,104,2.0,2.5,4.0,2.0,3.5,True,0,11
39774,Female,University degree,Urban,Muslim,Heterosexual,Asian,Right,Yes,Never married,No,...,41,95,5.5,5.5,3.0,2.0,6.0,True,0,6

We are finished now with the cleaning part and we can move on to the analysis part